services:
  frontend:
    build:
      context: ./client
    ports:
      - "5173:5173"
    environment:
      - VITE_BACKEND=http://localhost:4000
    networks:
      - appnet

  fastapi:
    build:
      context: ./api
    ports:
      - "8000:8000"
    networks:
      - appnet

  express:
    build:
      context: ./server
    ports:
      - "4000:4000"
    environment:
      - PREDICTION_API_URL=http://fastapi:8000
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
